body {
  background-image: url('../img/display_img.jpg');
}

div {
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

input {
  font-family: 'Noto Sans JP', sans-serif;
}

button {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}