body {
  background-image: url('../img/display_img.jpg');
}

div {
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}
